<% if @resource.try(:unconfirmed_email?)%>
  <% if @resource.specialist? %>
  <p>スペシャリスト</p>
  <% else @resource.customer? %>
  <p>カスタマー</p>
  <% end %>

  <p><%= t(:welcome).capitalize + ' ' + @email %>!</p>

  <p>メールアドレス変更のリクエストが送信されました。</p>
  <p>下記のリンクからパスワードの変更ができます </p>

  <% if @resource.customer? %>
  <p><%= link_to t('.confirm_account_link'), customer_confirmation_url(@resource, {confirmation_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url']}).html_safe %></p>
  <%else%>
  <p><%= link_to t('.confirm_account_link'), specialist_confirmation_url(@resource, {confirmation_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url']}).html_safe %></p>
  <% end %>
  <p>もしこの内容に覚えが覚えがない場合は、このメールを無視してください。</p>
  <p>上記のリンクにアクセスするまでするまで、メールアドレスの変更はされません。</p>
<% else %>
  <% if @resource.specialist? %>
  <p>スペシャリスト</p>
  <% else @resource.customer? %>
  <p>カスタマー</p>
  <% end %>

  <p><%= t(:welcome).capitalize + ' ' + @email %>!</p>

  <p><%= t '.confirm_link_msg' %> </p>

  <p><%= link_to t('.confirm_account_link'), confirmation_url(@resource, {confirmation_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url']}).html_safe %></p>
<% end %>